<div class="card">
  <h2>Edit this bucketlist...</h2>

  <form action="/bucketlist/update/<%=@bucketlist.id %>">
    <input class="text-input" name="description" type="text" value="<%= @bucketlist.description %>">
    <input class="text-input" name="pomodoro_estimate" type="number" value="<%= @bucketlist.pomodoro_estimate %>">
    <input class="button add-new-item-button" type="submit" value="Edit bucketlist">
    <a href="/" class="simple-link">Go back...</a>
  </form>
</div>