<h2>Add a new bucketlist...</h2>

<form action="/bucketlist/create">
  <input class="text-input" id="new-bucketlist-description" name="description" type="text" placeholder="Add a new bucketlist...">
  <input class="text-input" id="new-pomodoro-estimate" name="pomodoro_estimate" type="number" placeholder="importance level...">
  <input class="button" id="add-new-item-button" type="submit" value="Add bucketlist">
</form>