html {
    font-family:sans-serif;
    background-image:url(https://media.giphy.com/media/9x3rbdFIKhYQsHroPW/giphy.gif );
    background-size:cover
}

p {
    color: red;
    
}
li {
    color: black;
}

.pomodoro-estimate {
    color: white;
    font-weight: bold;
    background-color:green;
    padding:5px 10px 5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    display: block;
    margin-top: 10px;
}

#add-new-item-button {
   font-size: 20px;
   margin-top: 10px;
   display: block;
   outline: none;
   border-style: none;
   background-color:#8A2BE2;
   color: white;
   padding:7px;

}

#add-new-item-button:active {
    box-shadow:5px 5px 5px pink;
}
h1 {
    font-style:sans-serif;
    text-align:middle;
    font-size: 50px;
    margin-top: 10px;
    color:#FFE4E1;
}


h2 {
    text-align:left;
    /*display: inline-block;*/
    font-size: 25px;
    vertical-align: middle;
    color: orange;
    margin: 10px 0px;
}


h3 {
    color: #FF4500;
    font-size: 25px;
    margin:15px 0px;
}


span {
    margin: 0px 0px 20px 0px;
    padding: 10px 15px 10px 15px;
    display:block;
    width: 130px;
    color: #FFC0CB
}


a:visited {
    color:#FFF0F5;
}

a {
    color:#FFE4E1;
}