<%=2+2%>
<h1>Hello World!</h1>
<body> the world is a beautiful place</body>
 <h1>To Do List</h1>    
        
        <ol>
            <% @todos.each do |todo|%>
            <li><input type="checkbox" name=""/>
                <a href="show/<%= todo.id %>"><%= todo.description %></a>
                <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
            </li>
            <% end %>
        </ol>
        
        <input type="text" placeholder="add a new To Do..">
        <input type="number" placeholder="pomodoro estimate">
        <input id="add-new-todo-button" type="submit" value="add To Do">
        